// Breakpoints
$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;

// Headers
$header-heading-color: #fff !default;
$header-bg-color: #161616 !default;
$header-bg-color-secondary: #155799 !default;

// Text
$section-headings-color: #569CD6 !default;
$body-text-color: #cccccc !default;
$body-link-color: #6A9955 !default;
$blockquote-text-color: #819198 !default;
$body-background-color: #1e1e1e !default;

// Code
$code-bg-color: #f3f6fa !default;
$code-text-color: #567482 !default;

// Borders
$border-color: #dce6f0 !default;
$table-border-color: #e9ebec !default;
$hr-border-color: #eff0f1 !default;
